<html>
  <head>
    <title>This is the title</title>
  </head>

  <body>
    <h1>Hello, <%= @name %>!</h1>

    <p>You have <%= @repos.count %> repos</p>

    <table>
      <thead>
        <tr>
          <th>Repo Name</th>
          <th>API</th>
          <th>HTML</th>
        </tr>
      </thead>

      <tbody>
        <% @repos.each do |repo| %>
          <tr>
            <td><%= repo["name"] %></td>
            <td><a href="<%= repo["url"] %>">X</a></td>
            <td><a href="<%= repo["html_url"] %>">X</a></td>
          </tr>
        <% end %>
      </tbody>

    </table>

    <ul>
      <% @friends.each do |friend| %>
        <li><a href="/user/<%= friend %>"><%= friend %></a></li>
      <% end %>
    </ul>
  </body>
</html>